*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}
body{
    display: flex;
    align-items: start;
    justify-content: flex-start;
}
aside{
    width: 280px;
    padding: 30px 17px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 2px solid #e5e5e5;
    height: 100vh;
}
aside .blocks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
aside .blocks .block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
}
aside .blocks .block:hover{
    background-color: #f7f7f7;
}
aside img{
    width: 120px;
    margin-left: 10px;
}
aside .blocks .block img{
    width: 35px;
    margin-left: 0;
}
aside .blocks .block h1{
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #777777;
}
aside .blocks .block.active{
    border: 2px solid #84d8ff;
    border-radius: 15px;
    background-color: #ddf4ff;
    color: #84d8ff;
}
aside .blocks .block.active h1{
    color: #1cb0f6;
}
aside .block .more{
    position: absolute;
    top: -100px;
    right: -255px;
    margin: 0;
    padding: 7px 0;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    width: 250px;
    display: none;
}
aside .block .more ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
aside .block .more ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 5px 15px;
    cursor: pointer;
    color: #787878;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
}
aside .block .more ul li:nth-child(3),aside .block .more ul li:nth-child(4),aside .block .more ul li:nth-child(5){
    padding: 12px 15px;
}
aside .block .more ul li:hover{
    background-color: #f7f7f7;
}
aside .block .more ul hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: #e5e5e5;
    margin: 7px 0;
}
aside .block:nth-child(7):hover > .more{
    display: flex;
}
main{
    width: 100%;
}
main header{
    width: 100%;
    height: 10vh;
    padding: 10px;
    border-bottom: 2px solid #e5e5e5;
}
main header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
main header nav svg{
    width: 50px;
}
main .main{
    width: 100%;
    height: 90vh;
    background-color: red;
}