* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

.top {
    width: 100%;
    padding: 40px 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.top .loader {
    width: 100%;
    background-color: #e5e5e5;
    padding: 8px;
    border-radius: 30px;
    position: relative;
}

.top .loader::after {
    content: "";
    height: 100%;
    background-color: #58cc02;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    width: var(--width);
    transition: .69s ease-in-out;
}

.top .loader::before {
    content: "";
    height: 40%;
    background-color: #78d635bd;
    position: absolute;
    top: 4px;
    left: 5px;
    border-radius: 30px;
    width: var(--before-width);
    transition: .69s ease-in-out;
    z-index: 100;
}

.top .hearts {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top .hearts i {
    font-size: 24px;
}

.top .hearts span {
    font-size: 22px;
    color: #ff4b4b;
}

.middle {
    padding: 10px 150px;
}

.middle h1 {
    color: #3c3c3c;
    font-size: 25px;
    font-weight: bolder;
}

.bottom {
    padding: 40px 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #e5e5e5;
    width: 100%;
}

.bottom button {
    padding: 15px;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 0px 4px 0px 2px #e5e5e5;
    border: none;
    display: block;
    text-align: center;
    width: 150px;
    background-color: #fff;
    color: #afafaf;
    outline: 2px solid #e5e5e5;
    cursor: pointer;
}


.bottom button:nth-child(2) {
    background-color: #58cc02;
    color: white;
    box-shadow: 0 4px 0 0 #58a700;
    outline: none;
}

.bottom button:nth-child(2):disabled {
    background-color: #e5e5e5;
    box-shadow: none;
}

.test {
    padding: 10px;
    width: 100%;
}

.test .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.question {
    position: relative;
    background-color: white;
    outline: 2px solid #e5e5e5;
    padding: 10px 30px 10px 15px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: -40px;
    margin-top: -30px;
}

.question::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e5e5e5;
    /* Change the color to match your design */
}

.test .wrapper .question i {
    color: #1cb0f6;
    font-size: 20px;
    cursor: pointer;
}

.test .wrapper .question span {
    color: #4b4b4b;
    font-size: 23px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    margin-bottom: 30px;
    gap: 20px;
}

.options p {
    padding: 15px 10px;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 0px 4px 0px 0px #afafaf;
    border: none;
    display: block;
    text-align: center;
    width: 200px;
    font-size: 16px;
    background-color: #fff;
    color: #afafaf;
    outline: 2px solid #afafaf;
    cursor: pointer;
}

.options p.active {
    box-shadow: 0px 4px 0px 2px #58a700;
    background-color: #58cc02;
    color: white;
    outline: 2px solid #58cc02;
}

.result.correct {
    padding: 40px 60px 38px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d7ffb8;
    display: none;
}

.result.wrong {
    padding: 40px 60px 38px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffdfe0;
    display: none;
}

.result .first {
    display: flex;
    gap: 15px;
}

.result .first i.fa-check {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    color: #58a700;
    font-size: 40px;
    font-weight: bolder;
}

.result .first i.fa-close {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    color: #ea2b2b;
    font-size: 40px;
    font-weight: bolder;
}

.result.correct button {
    padding: 15px;
    margin-top: 5px;
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    text-align: center;
    width: 150px;
    cursor: pointer;
    background-color: #58cc02;
    color: white;
    box-shadow: 0 4px 0 0 #58a700;
    outline: none;
}

.result.wrong button {
    padding: 15px;
    margin-top: 5px;
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    text-align: center;
    width: 150px;
    cursor: pointer;
    background-color: #ff4b4b;
    color: white;
    box-shadow: 0 4px 0 0 #ea2b2b;
    outline: none;
}

.result.correct span {
    color: #58a700;
    font-weight: bolder;
    font-size: 22px;
}

.result.wrong span {
    color: #ea2b2b;
    font-weight: bolder;
    font-size: 22px;
}

.result.correct span:nth-child(2) {
    color: #58a700;
    font-weight: normal;
    font-size: 18px;
    margin: 3px 0 10px;
}

.result.wrong span:nth-child(2) {
    color: #ea2b2b;
    font-weight: normal;
    font-size: 18px;
    margin: 3px 0 10px;
}

.result.correct .first b {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    color: #7ec137;
}

.result.wrong .first b {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    color: #f06161;
}

.result .first b i {
    transform: scaleX(-1);
}

.result .res {
    display: flex;
    flex-direction: column;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pop {
    animation: pop 0.3s;
}
.result button.loaddd {
    position: relative;
    padding: 22px 15px;
}
.result button.loaddd::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}