*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}
header{
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav i{
    font-size: 24px;
    color: #afafaf;
}
nav button{
    padding: 14px;
    border-radius: 15px;
    border: 3px solid #ebebeb;
    border-bottom: 4px solid #e5e5e5;
    background-color: #fff;
    color: #1cb0f6;
    font-weight: bolder;
    font-size: 14px;
}
h1.heading{
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
}
div.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 390px;
    margin: 30px auto 0;
}
.form input{
    background-color: #f7f7f7;
    outline: none;
    border: 2px solid #e7e7e7;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.form input:nth-child(1){
    margin-bottom: 7px;
}
.form small{
    font-size: 14px;
    color: #777777;
    margin-bottom: 20px;
}
.form small b{
    color: #1cb0f6;
}
.form button{
    width: 100%;
    padding: 15px 12px;
    background-color: #1cb0f6;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0px 4px 0px 0px #1899d6;
}